html {
    font-family: sans-serif;
    font-size: 12px;
    margin: 0; 
    height: 100%; 
    overflow: hidden
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0px;
}

h3 {
    font-size: 20px;
    color: azure;
}

#nav {
    width: 100vw;
    position: relative;
}

.subnav {
    width: 100vw;
    height: 8vh;
}

#main {
    background-color: #373737;
    width: 100vw;
    height: 92vh;
    margin: 0px;
    padding: 10px;
    display: inline-flex;
}

#canvas {
    width: 50%;
    height: 90vh;
    padding: 5px;
    background-color: white;
    border: 3px solid #373737;
}

p {
    font-size: 16px;
}